#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_URI} ^/subdirectoryname1/(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/subdirectoryname2/(.*)$ [OR]
#RewriteRule . /index.php [L]
#RewriteRule ^.*$ - [L]
#</IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
    AuthType basic
    AuthName "You have to be logged in"
    AuthUserFile /bin/securityfiles/.htpasswd #Your htpasswd path
    Require valid-user
